<style>
    .box_for_gate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Adjust as needed */
        margin: 0 auto;
        position: relative;
    }

    .qbit_gate_place {
        width: 50px;
        height: 50px;
        background-color: white;
        /* Adjust color as needed */
        z-index: 1;
    }

    .box_for_gate::after {
        content: "";
        position: absolute;
        top: 48%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: black;
        /* Adjust color as needed */
        z-index: 0;
    }

    .box_for_gate.checked::after {
        content: "";
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: black;
        /* Adjust color as needed */
        z-index: 0;
    }

    .box_for_gate.checked::before {
        content: "";
        position: absolute;
        top: 60%;
        /* Adjust position as needed */
        left: 0;
        right: 0;
        height: 1px;
        background-color: black;
        /* Adjust color as needed */
        z-index: 0;
    }

    #drop_place {
        width: 40px;
        height: 40px;
        background-image: url('static/src/icon/qbit.png');
        background-size: cover;
        border-radius: 50%;
    }

    #drop_place_multi {
        width: 40px;
        height: 40px;
        background-image: url('static/src/icon/qbit.png');
        background-size: cover;
        border-radius: 50%;
    }

    #drop_place4 {
        margin-right: 20%;
    }

    #draggableBtn,
    #draggableBtn1,
    #draggableBtn2,
    #draggableBtn3,
    #draggableBtn4,
    #draggableBtn5,
    #draggableBtn6,
    #draggableBtn7 {
        width: 100%;
        height: 100%;
        font-size: clamp(5px, 2vw, 10px);
        z-index: 5;
    }

    #gate_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #gate {
        width: 50px;
        height: 50px;
    }
</style>

<div class="col-md-12">
    <div class="mt-3" style="display: flex; justify-content: center;">
        <h3>Drag and Drop the qbit to the gate</h3>
    </div>
    <div style="display: flex; justify-content: center;">
        <label class="m-3">
            <input type="checkbox" class="filled-in" id="checkbox_single_qbit" onclick="selectedQbit(event)" checked />
            <span>
                Signgle Qbit
            </span>
        </label>


        <label class="m-3">
            <input type="checkbox" class="filled-in" id="checkbox_multi_qbit" onclick="selectedQbit(event)" />
            <span>
                Multi Qbit
            </span>
        </label>

    </div>
    <div class="row">
        <div class="col-md-12" id="gate_container">
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn" class="btn btn-primary" draggable="true" ondragstart="drag(event)">H</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn1" class="btn btn-primary" draggable="true" ondragstart="drag(event)">H</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn2" class="btn btn-primary" draggable="true" ondragstart="drag(event)">X</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn3" class="btn btn-primary" draggable="true" ondragstart="drag(event)">X</button>
            </div>

            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn4" class="btn btn-primary" draggable="true" ondragstart="drag(event)">Y</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn5" class="btn btn-primary" draggable="true" ondragstart="drag(event)">Y</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn6" class="btn btn-primary" draggable="true" ondragstart="drag(event)">Z</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn7" class="btn btn-primary" draggable="true" ondragstart="drag(event)">Z</button>
            </div>

        </div>
        <div class="col-md-12" id="gate_container">
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn" class="btn btn-primary" draggable="true" ondragstart="drag(event)">CNOT</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn1" class="btn btn-primary" draggable="true" ondragstart="drag(event)">SWAP</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn2" class="btn btn-primary" draggable="true" ondragstart="drag(event)">CCNOT</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn3" class="btn btn-primary" draggable="true" ondragstart="drag(event)">CSWAP</button>
            </div>

            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn4" class="btn btn-primary" draggable="true" ondragstart="drag(event)">CCZ</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn5" class="btn btn-primary" draggable="true" ondragstart="drag(event)">CS</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn6" class="btn btn-primary" draggable="true" ondragstart="drag(event)">Rx</button>
            </div>
            <div class="card m-2" id="gate" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button id="draggableBtn7" class="btn btn-primary" draggable="true" ondragstart="drag(event)">CRx</button>
            </div>
        </div>
    </div>

    <div class="box_for_gate mt-5" id="sm_qbit_gate_holder">

        <div class="card" id="drop_place"></div>
        <div class="card" id="drop_place_multi" style="visibility: hidden; margin-top: 40px;"></div>
        <div class="card qbit_gate_place" id="drop_place1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="card qbit_gate_place" id="drop_place2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="card qbit_gate_place" id="drop_place3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="card qbit_gate_place" id="drop_place4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

    </div>

    <div class="col-md-12 mt-5">
        <button class="btn btn-primary" onclick="moveToGate()">Apply Gate</button>
    </div>



</div>



<script type="text/javascript" src="static/src/js/quantum_gate/x_gate.js"></script>