<div class="ch bg fy fz ga gb">
    <div>
        <h1>
            First order and Second order derivatives — Calculus
        </h1>
    </div>
    <h3>First-Order Derivative</h3>
    <p>The first order derivative of a function represents the rate of change of one
        variable with respect to another variable.</p>

    <p>For example, in Physics we define the velocity of a body as the rate of change
        of the location of the body with respect to time.</p>

    <p>First derivative of a given function gives you the slope of that function at any
        given point. As well as this, it can show you local extrema (maximums and minimums) when you graph it. These are
        your 0’s on the graph.</p>
    <h3>Second-Order Derivative</h3>
    <p>

        The second order derivatives are used to get an idea of the
        shape of the graph for the given function. Whether it will be upwards to downwards. It is based on
        concavity. The concavity of the given graph function is classified into two types: — Concave up and Concave
        down.
    </p>
    <p>The second derivative is the first derivative of the first derivative. In general
        the n+1st derivative (with respect to x) of a (differentiable) function of x, is the first derivative of the nth
        derivative. This goes all the way ‘down’ to the zeroth derivative which is the function itself.</p>

    <p>The second derivative is the slope of the first derivative.</p>

    <p>For example, in Physics we define the acceleration of a body as the rate of
        change of the velocity of the body with respect to time.</p>

    <p>Normally, the second derivative of a given function links to the concavity of the
        graph. If the second-order derivative value is positive, then the graph of a function is upwardly concave. If
        the second-order derivative value is negative, then the graph of a function is downwardly open.</p>

    <p>We already know that second derivative of a function determines the local
        maximum (maxima) or minimum (minima), inflexion point values. These can be identified with the help of below
        conditions:</p>

    <ul>
        <li>If f”(x) &lt; 0, then the function f(x) has a local maximum at x.</li>
        <li>If f”(x) &gt; 0, then the function f(x) has a local minimum at x.</li>
        <li>If f”(x) = 0, then it is not possible to conclude anything about the point x, a
            possible inflexion point.</li>
    </ul>
    <h3>Relation between first and second derivative
    </h3>
    <p>The relation between 1st and 2nd derivative is the same as between a function and
        its 1st derivative. The first derivative is the rate of change. The second derivative is the rate of change of
        the rate of change.</p>

    <p>A
        common practical application is if you measure distance/time, the first derivative will be velocity
        (speed) and the second the acceleration.</p>

    <p>You can test whether your extreme found in the first derivative is a maximum or
        minimum by plugging in the x value into the equation. If the subsequent y value is less than 0, then you have a
        maximum. If your value is greater than 0, then you have a minimum. As well as this, the zeroes of this function
        show inflection points for the concavity (whether the graph is facing up or down). You can test these points by
        plugging in a value higher and lower than the 0. If there is a sign change, then it is an inflection point.</p>
    <h4>Constant Acceleration Motion : —</h4>
    <p>Picked some data from hyper physics for <a class="af ob"
            href="http://hyperphysics.phy-astr.gsu.edu/hbase/acons.html" rel="noopener ugc nofollow"
            target="_blank">constant acceleration motion</a>.</p>
    <img src="static/src/derivatives_chapter/01.png" alt="Constant Acceleration Motion">

</div>