<div>

    <h2>What is linear algebra? </h2>

    <p>Linear algebra is a branch of mathematics that deals with vector spaces and linear mappings between these spaces.
        It encompasses the study of vectors, matrices, systems of linear equations, and their properties and
        relationships. It is a fundamental part of modern mathematics and has many applications in computer science,
        physics, engineering, and other fields. In this chapter, we will introduce the basic concepts of linear algebra
        and discuss some of its applications.</p>

    <p>Linear map is a function between two vector spaces that preserves the operations of vector addition and scalar
        multiplication. In other words, a linear map is a function that takes two vectors and returns a new vector that
        is a linear combination of the input vectors. Linear maps are fundamental to the study of linear algebra and
        have many applications in various fields.</p>

    Linear map f: (vector) -> (vector) is a function that satisfies the following properties:
    <ul class="row">
        <div class="col-md-6">
            <li>Linearity: f(u + v) = f(u) + f(v) and f(αu) = αf(u) for all vectors u, v and all scalars α.</li>
            <li>Preservation of the zero vector: f(0) = 0, where 0 is the zero vector in the vector space.</li>

            \( f = \begin{pmatrix} . & . & . \\ . & . & . \\ . & . & . \end{pmatrix} \)
            <br>
            \( v = \begin{pmatrix} . \\ . \\ . \end{pmatrix} \)
            <br>
            \( f(v) = \begin{pmatrix} . & . & . \\ . & . & . \\ . & . & . \end{pmatrix} \begin{pmatrix} . \\ . \\ .
            \end{pmatrix} \) Matrix Operation

            <p>
                In the expression \( f(x) = x^2 + 2x + 1 \), \( x^2 + 2x + 1 \) represents the function itself, and \( x
                \) is the variable.
            </p>
            <p>
                Similarly, in the case of matrices, \( f(v) \) represents the function, where \( f \) is a linear
                transformation represented by a matrix, and \( v \) is the variable (vector) that the function acts
                upon.
            </p>
            <p>
                So, just as \( x^2 + 2x + 1 \) is a function of the variable \( x \), \( f(v) \) is a function of the
                variable \( v \), where \( v \) is a vector.
            </p>
        </div>
    </ul>

    <h2>Vector Spaces</h2>
    <p>A vector space is a set of vectors that is closed under addition and scalar multiplication. In other words, if
        you take any two vectors from the set and add them together, the result is also in the set. Similarly, if you
        take any vector from the set and multiply it by a scalar, the result is also in the set.</p>

    <p>We will consider vector in Hilbert spaces. Hilber space:a set of vectors with complex coefficients</p>

    <!-- A table difference between Hilbert Space and Euclidean Space -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Euclidean Space</th>
                <th>Hilbert Space</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ket vectors</td>
                <td>
                    |ψ〉= α|0〉+β|1〉α,β∈C
                </td>
                <td>\( \vec{A} = a\hat{x} + b\hat{y} \)</td>
            </tr>
            <tr>
                <td>Basis vectors</td>
                <td>|0〉, |1〉, ...</td>
                <td>\( a\hat{x} , b\hat{y}, .... \)</td>
            </tr>
            <tr>
                <td>bra vectors</td>
                <td>〈ψ|</td>
                <td>\( \vec{A} \)</td>
            </tr>
            <tr>
                <td>Inner product</td>
                <td>〈ψ|φ〉</td>
                <td>\( \vec{A}. \vec{B} \)</td>
            </tr>
        </tbody>

    </table>

    We will discuss the symbols sequentially, so there's no need to worry about them.

    <h3 class="mt-5">Complex Conjugates</h3>
    <p>In the context of complex numbers, the complex conjugate of a complex number <em>z</em>, denoted as <em>z*</em>
        or <em>√</em>z, is formed by changing the sign of the imaginary part of <em>z</em>.</p>
    <p>If <em>z = a + bi</em> where <em>a</em> and <em>b</em> are real numbers and <em>i</em> is the imaginary unit,
        then the complex conjugate <em>z*</em> is given by:</p>
    <p>$$ z^* = a - bi $$</p>
    <p>In other words, the complex conjugate of a complex number simply reflects the point representing that number
        across the real axis on the complex plane. Geometrically, if you have a point representing a complex number in
        the complex plane, its complex conjugate is the reflection of that point across the real axis.</p>
    <p>The complex conjugate is particularly useful when dealing with operations involving complex numbers, such as
        multiplication, division, and taking the modulus. For example, when multiplying a complex number by its
        conjugate, the imaginary parts cancel out, resulting in a real number:</p>
    <p>$$ z \cdot z^* = (a + bi)(a - bi) = a^2 + b^2 $$</p>
    <p>$$ z = x + iy, \quad z^* = x - iy, \quad (z^*)^* = z $$</p>
    <p>This property is often used in various mathematical and physical contexts, including quantum mechanics, where
        complex numbers and their conjugates play a crucial role in describing the behavior of quantum systems.</p>


    <h3 class="mt-5">Basis vectors</h3>
    <p>In linear algebra, a basis is a set of linearly independent vectors that span a vector space. In other words, a
        basis is a set of vectors that can be used to represent any vector in the vector space through linear
        combinations. The number of vectors in a basis is called the dimension of the vector space.</p>
    <p>For example, in a two-dimensional vector space, the standard basis consists of the vectors (1, 0) and (0, 1),
        which span the entire space. Any vector in the space can be represented as a linear combination of these basis
        vectors.</p>
    <p>Similarly, in a three-dimensional vector space, the standard basis consists of the vectors (1, 0, 0), (0, 1, 0),
        and (0, 0, 1), which span the entire space. Any vector in the space can be represented as a linear combination
        of these basis vectors.</p>
    <p>Example of linear combination
        \( \vec{v} = a\hat{x} + b\hat{y} \)

        \( \vec{v} = a\hat{x} + b\hat{y} + c\hat{z} \)
        where \( a, b, c \) are the scalar and \( \hat{x}, \hat{y}, \hat{z} \) are the basis vector
    </p>
    <p>
        In quantum mechanics, the basis vectors are often denoted as \( |0〉= \begin{pmatrix} 1 \\ 0 \end{pmatrix} \) and
        \( |1〉= \begin{pmatrix} 0 \\ 1 \end{pmatrix} \), which represent the possible states
        of a quantum system. These basis vectors are used to represent the state of a quantum system and to perform
        calculations involving quantum states and operations.

    </p>


    <h1 style="text-align: center; margin: 15px;">Why linear algebra?</h1>
    <p>You just need to have an understanding of  below list, what they are and what they mean</p>
    <ul>
        <li>derivatives</li>
        <li>integrals</li>
        <li>taylor series</li>
        <li>Vectors</li>
        <li>Dot Product</li>
        <li>Linear Combination</li>
        <li>Linear Transformation/ Matrices</li>
        <li>Inverse Transformation</li>
        <li>Basis</li>
        <li>Eigenvectors/Eigenvalues</li>

    </ul>
    <div style="display: flex; justify-content: center;">
        <div>
            <img src="static/src/fig_chapter_01/rolling_ball.gif" alt="" style="height: 200px;">
            <p>
            <h3>Figure 01: Rolling Ball</h3>
            </p>
        </div>
    </div>

    <p>
        In classical physics, we use math to understand how objects move. Think of a boy rolling a ball on a table in
        (Figure 01). The
        ball travels smoothly through all the points you can imagine, never jumping from one place to another. It's like
        a continuous journey. At any point along its path, the ball has a single velocity, energy, and momentum. As it
        moves and interacts with its surroundings, these properties change gradually over time. We can't have the ball
        suddenly appearing in two places or having two different speeds. This consistent behavior is what we observe in
        nature, and it's described well by Newton's laws of motion. To explain this, we use functions that give us a
        smooth, single value for each property at any given moment. This approach helps us understand how things change
        over time without any sudden shifts or surprises.
    </p>
    <div style="display: flex; justify-content: center;">
        <div>
            <img src="static/src/fig_chapter_01/rutherfords_model.gif" alt="" style="height: 200px;">
            <p>
            <h3>Figure 02: Rutherfords Model</h3>
            </p>
        </div>
    </div>
    <p>In classical physics, we use continuous functions to represent physical quantities. It's pretty straightforward,
        right? But sometimes, this classical way of thinking doesn't quite match up with what happens in the real world,
        especially when we dive into the tiny realm of atoms.

        Let's look at a hydrogen atom, which consists of an electron whizzing around a proton (Figure 02). According to
        classical
        physics, as the electron zooms around and gets closer to the proton, it should give off light energy. This is
        something we know from studying electricity and magnetism. We can measure this energy by checking the light
        emitted. By doing this, we can keep track of how much energy the electron has as it moves along its path.

        Now, in classical physics, we'd expect this energy measurement to be smooth and continuous. But here's the
        kicker: it's not. Even back when Rutherford proposed his model of the atom, he realized that something was off
        with this classical idea.
    </p>
    <div style="display: flex; justify-content: center;">
        <div>
            <img src="static/src/fig_chapter_01/bohr_model.gif" alt="" style="height: 200px;">
            <p>
            <h3>Figure 03: Bohr Model</h3>
            </p>
        </div>
    </div>
    <p>
        Now, let's dive into the quantum world and see what really happens with a hydrogen atom and a detector. In the
        classical world, we'd expect to see a smooth, continuous pattern of energy readings like 10.5, 10.6, 10.7, and
        so on. But in reality, that's not what we find. Instead, our detector only picks up a few distinct energy
        values (Figure 03), like 10.02, 12.05, 13.01, and 13.56. No matter how many times we check, we always get the
        same set of
        values.

        Here's what we've learned from these experiments:

        First, it turns out that physical quantities in the quantum world can be discrete. This means they only have
        certain specific values, with nothing in between. This goes against the idea that everything must be continuous.

        Second, when we measure these quantities, we find that the specific value we get is random. But there's a twist
        some values are more likely to show up than others. So, before we measure anything, we can't predict exactly
        what value we'll get, but we can talk about the chances of getting different values.

        So, unlike in the classical world, where everything is smooth and predictable, the quantum world operates
        differently. We can't use continuous functions to model it we need something else.
    </p>
    <p>
        First, let's address the challenge of mathematically modeling randomness. Before measurements, particles seem to
        hold information about all possible energy states. How do we represent this? Well, let's say we have
        mathematical objects \( M_A , M_B , M_C and M_D\) for each energy state. Then, we combine them using an unknown
        "dot" operation, forming a collective representation of all energy states.

    <p>\( M_A . M_B . M_C . M_D\)</p>

    This dot operation could be addition,
    it could be multiplication, it could be something even more exotic. It's just some unknown way for us to combine
    our mathematical objects into one aggregate object that describes our particle before the measurement.
    </p>

    <p>
        Next, we also need to somehow codify the idea that some outcomes are more likely than others. So each
        mathematical object also needs to carry with it the probability of getting that particular outcome. Well the
        simplest way to do this is just to add a number in front of each mathematical object, a number that somehow
        encodes how likely each possibility is to occur.

    <p>\( a_A M_A . a_B M_B . a_C M_C . a_D M_D\)</p>

    Now, lets take a step back and look at what we have. Having studied a number of mathematical structures in your
    past, hopefully you begin to see that this looks suspiciously like a linear combination of some sort. You see that,
    right? This is our only lead, so let's go ahead and run with it: our particle is some sort of linear combination of
    all outcome-possibilities, which we'll assume are represented by some sort of vector. This may seem like a big leap,
    but hopefully you see how we came to these conclusions. Now let's move on to the discreteness problem. This is now a
    question about how we represent our physical quantities. We know that functions won't work; we need a mathematical
    object that allows us to sometimes extract discrete values. This is a little more difficult, but if we follow our
    lead on linear combinations, we may guess that maybe linear operators ,matrices, represent physical
    quantities. I mean, a matrix consists of a discrete set of numbers, so maybe we can somehow extract our physical
    quantities from that discrete set. So, putting it all together, we now have a really solid guess into how we want
    to model quantum mechanics! Particles are represented by a linear combination of vectors in some vector space,
    and physical quantities are represented by linear operators within that space. Now, if this seems somewhat
    contrived and unfamiliar, don't worry. We developed the framework of quantum mechanics in a handful of
    minutes, meanwhile it took the greatest physicists of the world years to arrive at these same conclusions.
    What matters is that you see why linear algebra is a good starting point for quantum mechanics.</p>
</div>