{% set equation = "x = \\frac{{-b \\pm \\sqrt{{b^2 - 4ac}}}}{{2a}}" %}
<div>
    
    <h1 style="text-align: center; margin: 15px;">Chapter 01: Complex Number</h1>
    <p>Let's start with the quadratic equation \( ax^2 + bx + c = 0 \), where \( a \), \( b \), and \( c \) are real
        numbers
        and \( x \) is the variable. When we attempt to solve this equation using the quadratic formula:</p>

    {% set equation = "x = \\frac{{-b \\pm \\sqrt{{b^2 - 4ac}}}}{{2a}}" %}

    \( {{ equation }} \)

    <p>We encounter situations where the expression under the square root (\( b^2 - 4ac \)) can be negative. In the
        realm of
        real numbers, we know that the square root of a negative number is undefined. This leads to the inability to
        find
        real solutions to certain quadratic equations.</p>

    <p>To circumvent this limitation, mathematicians introduced the concept of imaginary numbers. They defined the
        imaginary
        unit \( i \) such that \( i^2 = -1 \). With this definition, we can now take the square root of negative
        numbers:
    </p>

    \[
    \sqrt{-1} = i
    \]

    <p>With imaginary numbers, we can extend the real number system to the complex number system, where a complex number
        is
        expressed as \( a+bi \), with \( a \) and \( b \) being real numbers and \( i \) representing the imaginary
        unit.
    </p>

    <p>Now, when we encounter situations where the expression under the square root (\( b^2 - 4ac \)) is negative while
        solving quadratic equations, we can still find solutions by utilizing imaginary numbers. The solutions become
        complex numbers with real and imaginary parts.</p>

    <p>So, the introduction of the imaginary unit \( i \) was a mathematical invention to allow for the solution of
        equations that couldn't be solved within the realm of real numbers alone, particularly quadratic equations with
        no
        real roots. It was a leap of abstraction that turned out to be incredibly useful in various branches of
        mathematics
        and physics.</p>

</div>
